.stepThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #f5f7fa;
  border-radius: 35px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 5px auto;
  text-align: center;

  .message {
    font-size: 1rem;
    color: #666;
    margin: 10px 0 30px;
    max-width: 80%;
    line-height: 1.6;
  }

  h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2px;
  margin-bottom: 20px;

  .icon {
    font-size: 70px;
    color: #06f039;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.button {
  width: 300px;
  padding: 15px;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #f040f0, #e01cd7);
  color: #fff !important;
  border-radius: 30px;

  &:hover {
    background: linear-gradient(90deg, #a61ce6, #a314e6);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}
